soap/ordercontroll.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap-env="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/git/pizza/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/git/pizza/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/git/pizza/soap/">
      <xsd:complexType name="Kategoriak">
        <xsd:all>
          <xsd:element name="hibakod" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="uzenet" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="kategoriak" type="tns:KategoriaArray" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Kategoria">
        <xsd:all>
          <xsd:element name="nev" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="ar" type="xsd:int" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Pizzak">
        <xsd:all>
          <xsd:element name="hibakod" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="uzenet" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="nev" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="ar" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="pizzak" type="tns:PizzaArray" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Pizza">
        <xsd:all>
          <xsd:element name="nev" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="vegetarianus" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Rendelesek">
        <xsd:all>
          <xsd:element name="hibakod" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="uzenet" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="nev" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="vegetarianus" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="rendelesek" type="tns:RendelesArray" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Rendeles">
        <xsd:all>
          <xsd:element name="az" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="darab" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="felvetel" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="kiszallitas" type="xsd:string" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getKategoriaRequest"/>
  <wsdl:message name="getKategoriaResponse">
    <wsdl:part name="getKategoriaReturn" type="tns:Kategoriak"/>
  </wsdl:message>
  <wsdl:message name="getPizzaRequest">
    <wsdl:part name="nev" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getPizzaResponse">
    <wsdl:part name="getPizzaReturn" type="tns:Pizzak"/>
  </wsdl:message>
  <wsdl:message name="getRendelesRequest">
    <wsdl:part name="nev" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="getRendelesResponse">
    <wsdl:part name="getRendelesReturn" type="tns:Rendelesek"/>
  </wsdl:message>
  <wsdl:portType name="OrderControllPortType">
    <wsdl:operation name="getKategoria">
      <wsdl:documentation/>
      <wsdl:input message="tns:getKategoriaRequest"/>
      <wsdl:output message="tns:getKategoriaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getPizza">
      <wsdl:documentation/>
      <wsdl:input message="tns:getPizzaRequest"/>
      <wsdl:output message="tns:getPizzaResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getRendeles">
      <wsdl:documentation/>
      <wsdl:input message="tns:getRendelesRequest"/>
      <wsdl:output message="tns:getRendelesResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderControllBinding" type="tns:OrderControllPortType">
    <soap-env:binding xmlns="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getKategoria">
      <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/git/pizza/soap/server.php?method=getKategoria" style="rpc"/>
      <wsdl:input>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPizza">
      <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/git/pizza/soap/server.php?method=getPizza" style="rpc"/>
      <wsdl:input>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRendeles">
      <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/git/pizza/soap/server.php?method=getRendeles" style="rpc"/>
      <wsdl:input>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderControll">
    <wsdl:documentation/>
    <wsdl:port name="OrderControllPort" binding="tns:OrderControllBinding">
      <soap-env:address location="http://localhost/git/pizza/soap/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
