soap/pizza.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap-env="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/git/pizza/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://localhost/git/pizza/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/git/pizza/soap/">
      <xsd:complexType name="Kategoria">
        <xsd:all>
          <xsd:element name="nev" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="ar" type="xsd:int" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getKategoriaRequest"/>
  <wsdl:message name="getKategoriaResponse">
    <wsdl:part name="getKategoriaReturn" type="tns:Kategoria"/>
  </wsdl:message>
  <wsdl:portType name="PizzaPortType">
    <wsdl:operation name="getKategoria">
      <wsdl:documentation/>
      <wsdl:input message="tns:getKategoriaRequest"/>
      <wsdl:output message="tns:getKategoriaResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PizzaBinding" type="tns:PizzaPortType">
    <soap-env:binding xmlns="http://schemas.xmlsoap.org/wsdl/soap/" style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getKategoria">
      <soap-env:operation xmlns="http://schemas.xmlsoap.org/wsdl/soap/" soapAction="http://localhost/git/pizza/soap/server.php?method=getKategoria" style="rpc"/>
      <wsdl:input>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:input>
      <wsdl:output>
        <soap-env:body xmlns="http://schemas.xmlsoap.org/wsdl/soap/" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Pizza">
    <wsdl:documentation/>
    <wsdl:port name="PizzaPort" binding="tns:PizzaBinding">
      <soap-env:address location="http://localhost/git/pizza/soap/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
